doctype html
html(lang="en")
    head
        title=title
        include includes/styles
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="register.js")
    body
        .page-wrapper
            include includes/header
            block content
